.hero {
    min-height: 100vh;
    background-image: url("/images/hero-cover-accueil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 25%;
}

.heroEnLight {
  font-family: "Miama";
  color: #ea9981;
  font-size: 72px;
}

.caroussel {
  color: #fff5eb;
}

.carousselButton {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ea9981;
  border: 1px solid #fff5eb;
}
