.primaryOrange, .primaryLight, .secondaryWhite, .secondaryBlack {
  font-family: Playfair Display;
  letter-spacing: 2px;
}

.primaryOrange {
  background-color: #e99981;
}

.primaryLight {
  background-color: #fff5eb;
}

.secondaryWhite {
  border-color: white;
  color: white;
  background-color: black;
}

.secondaryBlack {
  border-color: black;
  color: black;
}

.primaryOrange:hover {
  background-color: #fff5eb;
}

.primaryLight:hover {
  background-color: #e99981;
}

.secondaryWhite:hover {
  border-color: black;
  color: black;
}

.secondaryBlack:hover {
  border-color: white;
  color: white;
  background-color: black;
}